.panel {
  width: 100px;
  margin: auto auto auto auto;
  display: grid;
  grid-gap: 5%;
}

.draw {
  padding: 10px;
  text-align: center;
}

.draw__picture {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 150px;
}

.pictures {
  display: grid;
  grid-template-columns: repeat(auto-fit, 220px);
  flex-wrap: wrap;
  width: 100%;
}