* {
  padding: 0;
  margin: 0;
}

/* html,body{
  height:100%;
  width: 100%;
} */

.panel {
  display: grid;
  justify-content: center;
  gap: 5px;
  margin: 5px;
}

/* .pictures {
  width: 100vw;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.draw__picture {
  width: 100%;
}

.pictures {
  display: grid;
  grid-template-columns: repeat(auto-fit, 220px);
  flex-wrap: wrap;
} */

.nshow {
  display: none;
}

.valid__text {
  color: red;
  font-size: small;
}

.draw {
  padding: 10px;
  text-align: center;
}

.draw__picture {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 150px;
}

.pictures {
  display: grid;
  grid-template-columns: repeat(auto-fit, 220px);
  flex-wrap: wrap;
  width: 100%;
}